{% extends "base.html" %}

{% block title %}ホーム{% endblock title %}

{% block body %}
  <div>
    <h1>ホーム</h1>
    <p>
    <ul>
      {% if user and not user.is_anonymous %}
        <li>
          <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
        </li>
      {% endif %}
    </ul>
    </p>
  </div>
{% endblock body %}
