@import "../bower_components/pure/pure-min.css";

@font-face {
      font-family: 'ChoGokuBosoGothic';
      src: url('../fonts/ChoGokuBosoGothic.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ChoGokuBosoGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ChoGokuBosoGothic.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ChoGokuBosoGothic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #222222;
}

.page__outer {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.page__header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #ffffff;

  .header__inner {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    .page__title {
      font-family: 'ChoGokuBosoGothic', sans-serif;
      font-size: 38px;
      margin: 0px;
      float: left;
      a {
        color: #222222;
        text-decoration: none;
      }
    }
    .page__navigation {
      float: right;
    }
  }
}

.page__hero {
  height: 300px;
  background-color: #3d4e6c;
  background-image: url("../images/sky.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page__hero__state_bar {
  height: 4px;
}

.page__contents {
  width: 100%;
  background: #ffffff;
  padding-bottom: 60px;
  .page__contents__inner {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    .contents--title {
      line-height: 2em;
      font-weight: lighter;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

.contents--feature {
  margin: 40px 0;
  .feature--title {
    color: #444444;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25%;
  }
  .wordcloud {
    display: block;
    max-width: 400px;
    border-radius: 64px;
    margin: 20px;
  }

  .feature--image {
    text-align: center;
    .cloud-icon,
    .secure-icon,
    .open-icon {
      font-size: 98px;
      border: 5px solid #2c3e50;
      border-radius: 50%;
      padding: 20px;
    }

    .cloud-icon {
      color: #ecf0f1;
      background: #34495e;
    }

    .secure-icon {
      color: #27ae60;
    }

    .open-icon {
      color: #f39c12;
    }
  }

  .feature--description {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.page--share {
  margin: 20px;
  text-align: right;
}

.page--result {
  width: 800px;
  margin: 0 auto;
  .wordcloud {
    display: block;
    margin: 0 auto;
  }
}

.tweet-form {
  @extend .cf;
  .tweet-box {
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 240px;
    margin: 10px 0;
    overflow:auto;
    resize: vertical;
  }
  button[type="submit"] {
    margin: 10px 0;
    float: right;
  }
}

.page__footer {
  width: 100%;
  color: #cccccc;
  background: #222222;
  height: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  bottom: 0;
}

@import "button.css";

.pure-form textarea {
  box-shadow: none;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}
